@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900 &family=Outfit:wght@100..900&family=Poppins:wght@400;700&family=Roboto:ital, wght@0, 100;0, 300;0, 400;0, 500;0, 700;0, 900;1, 100;1, 300;1, 400;1, 500;1, 700;1, 900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: "Roboto", "Arial," sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 56px;
	padding: 0 26px;
}

.left-section {
	display: flex;
	align-items: center;
}

.left-section span {
	cursor: pointer;
}

.left-section img {
	width: 46%;
	padding-left: 16px;
	cursor: pointer;
}

.mid-section {
	display: flex;
	align-items: center;
	margin-left: -100px;
}

.mid-section form {
	display: flex;
	width: 600px;
	height: 40px;
}

.mid-section .mic {
	margin-left: 20px;
	border-radius: 50%;
	cursor: pointer;
	padding: 7px;
}

.mid-section .mic:hover {
	background-color: #cecece;
}

.mid-section input {
	width: 100%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	padding: 12px;
	font-size: 1.6rem;
	color: #111111;
	border: solid 1px #cccccc;
	z-index: 200;

}

.mid-section input:focus {

	outline: solid 0.5px #065fd4;

}

.mid-section button {
	width: 64px;
	border: solid 1px #cccccc;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	cursor: pointer;
	background-color: #ffffff;
	padding-top: 4px;
	z-index: 100;
}

.mid-section button:hover {
	background-color: #f0f0f0;
	border-color: #c6c6c6;
}

.right-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.right-section a {
	padding-right: 18px;
	color: #000;
}

.right-section .notifications {
	border-radius: 50%;
	padding: 7px;
}

.right-section .video_call {
	border-radius: 50%;
	padding: 7px;
}

.right-section .notifications:hover {
	background-color: #cecece;
}

.right-section .video_call:hover {
	background-color: #cecece;
}

.content-area {
	width: 100%;
	height: calc(100vh - 56px);
	display: flex;
	flex-direction: row;

}

.aside {
	width: 230px;
	height: 100%;
	/* position: relative; */
	padding-left: 20px;
	/* overflow-y: hidden; */

}

.aside:hover {
	overflow-y: auto;
	scrollbar-width: thin;
}

.nav a {
	text-decoration: none;
	display: flex;
	align-items: center;
	color: #323232;
	font-size: 1.7rem;
	/* margin: 1px 0; */
	padding: 7px 0;
	margin-right: 20px;
}


.nav .active {
	color: #0f0f0f;
}

.nav {
	margin: 15px 0;
}


.nav span {
	margin-right: 20px;
}


.active {
	background-color: #f2f2f2;
	border-radius: 10px;
}

.nav a:hover {
	background-color: #f2f2f2;
	border-radius: 6px;
}

hr {
	margin: 10px 0;
	color: #e5e5e5;
	height: 1px;
	background-color: transparent;
}

.nav h2 {
	font-size: 2rem;
	color: #323232;
	padding-left: 15px;
}

.material-icons {
	padding-left: 10px;
}

.material-icons-outlined {
	padding-left: 10px;
}

.channel-img {
	height: 24px;
	width: 24px;
	border-radius: 50%;
	margin: 0 20px 0 10px;
}

.createror-image img {
	height: 24px;
	width: 24px;
	border-radius: 50%;
	margin: 0 20px 0 10px;
}

.video-cards {
	margin: 30pxs;
	display: flex;
	flex-wrap: wrap;
}

.video-card {
	width: 31%;
	margin: 10px;

}

.thumbNamail img {
	width: 100%;
	overflow: auto;
	border-radius: 15px;
}

.video_details {
	display: flex;
	flex-direction: row;

}

.createror-image {
	width: 15%;
	cursor: pointer;
}

.txt {
	width: 75%;
}

.txt p {
	font-size: 1.7rem;
	color: #606060;
	cursor: pointer;
}

.more {
	width: 10%;
	cursor: pointer;
}

main {

	width: 80%;
	margin-left: 20px;
}

aside {
	border: #000 dashed 1px;
	width: 20%;
}













/* .bord {
		border: dashed 1px green;
	}
.bordy {
	border: dashed 1px yellow;
} */